/*
.cadastro-container {
  display: flex;
  justify-content: space-between;
}
*/
.cadastro-section {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
}